html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

html, body, .root {
  width: 100%;
  height: 100%;
}

/*Header Styles*/

.app-header-title {
  text-align: center;
}

/*Main Page Styles*/

.shelf-content {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin-top: 2em;
}

/*Book Styles*/

.book {
  display: inline-block;
  width: 128px;
  margin: 10px 20px;
}

.book-top {
  position: relative;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: #eee;
}

.book-img-container {
  width: 128px;
  height: 158px;
}

.book-title {
  margin: 1em 0 0;
  font-size: 0.8em;
}

.book-author {
  font-size: 0.7em;
}

.book-shelf-changer {
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #60ac5d;
  background-image: url('./icons/arrow-drop-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.book-shelf-changer select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

/*Search Button Styles*/

.search-btn-container {
  position: fixed;
  right: 25px;
  bottom: 25px;
}
.open-search {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #2e7d32;
  background-image: url('./icons/add.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size: 0;
}

.close-search {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background: white;
  background-image: url('./icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
}

/*Search Page Styles*/

