html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

html, body, .root {
  width: 100%;
  height: 100%;
}

/*Header Styles*/

.app-header-title {
  text-align: center;
}

/*Main Page Styles*/

.shelf-content {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin-top: 2em;
}

/*Book Styles*/

.book {
  display: inline-block;
  width: 128px;
  margin: 10px 20px;
}

.book-top {
  position: relative;
}

.book-img-container {
  width: 128px;
  height: 158px;
}

.book-title {
  margin: 0;
  font-size: 12px;
}

.book-author {
  font-size: 10px;
}

.book-shelf-changer {
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #60ac5d;
  background-image: url('./icons/arrow-drop-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.book-shelf-changer select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

/*Search Page Styles*/

